<ion-view title="Area">
    <ion-content overflow-scroll="true">
        <div class="list card">
            <div class="item">
                <div class="row header">
                    <div class="col col-40 admin-font">Area</div>
                    <div class="col col-20 admin-font item-text-wrap" ng-repeat="item in items">
                        {{item | lowercase}}
                    </div>
                </div>
                <div class="address_space"></div>
                <div class="row" ng-repeat="area in areas">
                    <div class="col col-40 admin-font item-text-wrap">{{area}}</div>
                    <div class="col col-20 admin-font" ng-repeat="total in totals[area]">{{total.total}}</div>
                </div>
                <div class="address_space"></div>
                <div class="row">
                    <div class="col col-40 admin-font">Total</div>
                    <div class="col col-20 admin-font" ng-repeat="item in items">{{totalstotal[item]}}</div>
                </div>
            </div>
        </div>
        <div class="list">
            <div ng-repeat="loc in area">
                <div class="item item-icon-left item-icon-right" ng-click="orders(loc.id)">
                    <i class="icon ion-ios-location"></i> {{loc.name}}
                    <i class="icon ion-forward"></i>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced">
    </ion-footer-bar>
</ion-view>
