<ion-view title="Orders" class="myorder">
    <ion-content overflow-scroll="true" class="has-header">
        <div ng-repeat="customerid in customerids">
            <div ng-repeat="(key,value) in extra[customerid]">
                <div class="list card">
                    <div class="item">
                        <div class="row" ng-repeat="(key,values) in value">
                            <div ng-if="key != 'Customer' && key != 'Mobile' && key != 'Address'" class="col admin-font item-text-wrap">{{key}}</div>
                            <div ng-if="key != 'Address'" class="col admin-font item-text-wrap">{{values}}</div>
                            <div ng-if="key == 'Address'" class="col address_space admin-font item-text-wrap">{{values}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced">
    </ion-footer-bar>
</ion-view>
