<ion-view title="Home" hide-nav-bar="true" class="home" ng-click="is_loged()">
    <div class="row row-center">
        <div class="col">
            <div class="text-center">
                <h1 style="text-align: center;">MS Kitchens</h1>
            </div>
            <div ng-click="is_loged()" class="arrow bounce">
            </div>
        </div>
    </div>
</ion-view>
