<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 285px; height: 130px;"></div>
        <form class="list">            
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Mobile No</span>
                    <input type="tel" name="mobile" placeholder="Your Registered Mobile No" ng-model="data.mobile" required>
                </label>              
            </ion-list>
            <div class="spacer" style="width: 285px; height: 48px;"></div>
            <button class="button button-block button-calm" ng-click="login()">Login</button>
            <a href="#"  ui-sref="menu.profile" id="login-button19" class="button button-positive  button-block button-clear">Or Create Profile</a>
        </form>
    </ion-content>
</ion-view>