<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="title">Options</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="home" menu-close="">Home</ion-item>
                <ion-item ui-sref="menu.todayMenu" menu-close="">Menu</ion-item>
                <ion-item ui-sref="menu.profile" menu-close="">Profile</ion-item>
                <ion-item ui-sref="menu.myOrder" menu-close="">My Orders</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
