<ion-view title="My Orders" class="myorder">
    <ion-content overflow-scroll="true" class="has-header" padding="true">
        <div ng-repeat="dd in deliverydates">
            <div class="list card">
                <div class="item item-divider" style="background-color: #387ef5;">
                    <div style="float: left;">
                        Delivery Date
                    </div>
                    <div style="float: right;">
                        {{dd.date}}
                    </div>
                </div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item ng-repeat="item in order[dd.date]" style="
    padding: 3%;font-size: 14px;">
                            <div style="float:left;">
                                {{item.name}}
                            </div>
                            <div style="float:right;">
                                {{item.quantity}}
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                <div class="item item-divider" style="color: #0c60ee;background-color: rgba(0, 0, 0, 0.1);">
                    <div style="float: left;">
                        Amount
                    </div>
                    <div style="float: right;">
                        ₹{{dd.rate}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced">
    </ion-footer-bar>
</ion-view>
