<ion-view title="Order Confirmation">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="display:{{orders}};">
            <div class="list card">
                <div class="item item-divider">You have placed</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item ng-repeat="item in items">{{item.name}} - {{item.value}}</ion-item>
                    </ion-list>
                </div>
                <div class="item item-divider">{{deliveryTime}}</div>
            </div>
             <div class="list card" style="width: 73%; margin: auto;">
               <div class="item item-divider" style="text-align: center;background: #2196F3; font-size: 20px;">Total Amount</div>
                <div class="item item-body" style="text-align: center;padding: 15%;   font-size: 60px;">
                 ₹{{total_price}}
                </div>
                </div>
            </div>
        </div>
        <div class="card" style="display:{{noorders}};">
            <div class="item item-text-wrap">
                Please check your orders.
            </div>
        </div>
    </ion-content>
     <ion-footer-bar align-title="left" class="bar-balanced">
      <div class="buttons">
        <button ui-sref="menu.todayMenu"  class="footer-btn button icon-left ion-arrow-left-c">Back</button>
      </div>
      <h1 class="title"></h1>
      <div class="buttons timer" style="display:{{orders}};">
        <button ng-click="submitorder();" class="footer-btn icon-left ion-checkmark button">Confirm Order</button>
      </div>
    </ion-footer-bar>
</ion-view>