<ion-view title="Profile" hide-nav-bar="{{hidebar}}">
<!-- <ion-view title="Profile"> -->
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form name="authorizationForm" novalidate="" ng-submit="profile(authorizationForm)">
            <div class="list" ng-controller="profileCtrl">
                <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}">
                    <span class="input-label ion-android-person icon-label"></span>
                    <input type="text" name="username" placeholder="Username" ng-model="authorization.username" ng-minlength="5" ng-maxlength="20" required>
                </label>
                <div class="error-container" ng-show="authorizationForm.username.$error" ng-messages="authorizationForm.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <div class="spacer profile-spacer"></div>
                <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.email.$invalid, 'no-errors' : authorizationForm.email.$valid}">
                    <span class="input-label ion-android-mail icon-label"></span>
                    <input type="email" name="email" placeholder="Email" ng-model="authorization.email" required>
                </label>
                <div class="error-container" ng-show="authorizationForm.email.$error" ng-messages="authorizationForm.email.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <div class="spacer profile-spacer"></div>
                <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.mobile.$invalid, 'no-errors' : authorizationForm.mobile.$valid}">
                    <span class="input-label ion-android-call icon-label"></span>
                    <input type="tel" name="mobile" placeholder="Phone / Mobile" ng-model="authorization.mobile" required>
                </label>
                <div class="error-container" ng-show="authorizationForm.mobile.$error" ng-messages="authorizationForm.mobile.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <div class="spacer profile-spacer"></div>
                <label class="item item-input">
                    <span class="input-label ion-ios-grid-view-outline icon-label"></span>
                    <input type="text" name="door_no" placeholder="#79" ng-model="authorization.door_no">
                </label>
                <div class="spacer profile-spacer"></div>
                <label class="item item-input">
                    <span class="input-label ion-ios-home icon-label"></span>
                    <input type="text" name="appartment" placeholder="AGS Flats / Kumaran Nagar" ng-model="authorization.appartment">
                </label>
                <div class="spacer profile-spacer"></div>
                <label class="item item-input">
                    <span class="input-label ion-ios-location icon-label"></span>
                    <input type="text" name="landmark" placeholder="Near Pole Star School" ng-model="authorization.landmark">
                </label>
                <input type="hidden" name="actionfunction" ng-model="authorization.actionfunction" />
                <div class="spacer profile-spacer"></div>
                <label class="item item-input item-select">
                    <span class="input-label icon-label">Area</span>
                    <select name="areaid" ng-model="authorization.areaid" required>
                        <option ng-repeat="area in areaNames" ng-selected="{{area.id == authorization.areaid}}" value="{{area.id}}">{{area.name}}</option>
                    </select>
                </label>
                <div class="error-container"ng-show="authorizationForm.areaid.$error.required">
                    <div class="error">
                        <i class="ion-information-circled"></i> This field is required!
                    </div>
                </div>
                <button class="button button-balanced button-block" type="submit">{{buttonname}}</button>
            </div>
        </form>
    </ion-content>
</ion-view>
<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> This field is required!
    </div>
    <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i> Minimum length of this field is 5 characters!
    </div>
    <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i> Maximum length of this field is 20 characters!
    </div>
</script>
