<ion-view title="Thank you">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/RdKtUytmQuCi9Aml4EyA_thanks.jpg" width="100%" height="auto">
        </div>
        <form class="list"></form>
    </ion-content>
     <ion-footer-bar align-title="center" class="bar-balanced" ui-sref="home">
      <h1 class="title icon ion-android-home"></h1>      
    </ion-footer-bar>
</ion-view>