<ion-view title="Menu" class="today-menu">
    <ion-content overflow-scroll="true" class="has-header" padding="true">
        <tab-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll class="tsb-hscroll">
                        <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-include src="'slide.html'">
                </ion-slide>
                <ion-slide ng-include src="'slide.html'">
                </ion-slide>
                <ion-slide ng-include src="'slide.html'">
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced" style="display:{{nextbutton}};" ng-hide="no_data_footer">
        <div class="buttons">
            <button ui-sref="menu.orderConfirmation" class="footer-btn button icon-left ion-android-arrow-forward">Place Order</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons timer" ng-click="doSomething()">
            <button ng-click="openTime()" class="footer-btn icon-left ion-android-time button">Set Delivery Time</button>
        </div>
    </ion-footer-bar>
    <ion-footer-bar align-title="left" class="bar-balanced" ng-show="no_data_footer">
    </ion-footer-bar>
</ion-view>
<script id="slide.html" type="text/ng-template">
    <div class="card" ng-show="noorder" style="margin-top: 50%;">
        <div class="item item-divider item-text-wrap" style="background: #ffc900;color: white;
                                    font-weight: bold;">
            ToToDo-Sorry!!
        </div>
        <div class="item item-text-wrap">
            No orders available at this time
        </div>
        <div class="item item-divider item-text-wrap" style="background: #444;color: white;
                                    ">
            Contact +91 98401 46764 for further details.
        </div>
    </div>
    <div class="list card" ng-repeat="item in items">
        <div class="item item-divider item-text-wrap">{{item.name}}</div>
        <div class="item item-body">
            <div class="item-price" ng-if="!(isNaN(item.price.NaN))">
                ₹{{item.price * item.value}}
            </div>
            <div class="row item-row">
                <div class="col-1">
                    <button class="btn green" type="button" ng-click="increment(item);"><span>+</span></button>
                </div>
                <div class="col-1">
                    <button class="btn red" type="button" ng-click="decrement(item);"><span>-</span></button>
                </div>
                <div class="col-1 item-count">
                    <span>{{item.value}}</span>
                </div>
            </div>
        </div>
        <div class="item item-divider item-text-wrap" style="background: rgba(103, 58, 183, 0.19);color: #607D8B;text-align: left;">
            <div style="color: #607D8B;float: left;">{{item.caption}}
            </div>
            <div style="color: #607D8B;float: right;">₹{{item.price}} / item
            </div>
        </div>
    </div>
</script>
