.tabbed-slidebox .slider {
    height: 100%;
}

.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}

.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #ccc;
    text-align: center;
    font-weight: 300;
    background-color: #ccc;
}

.tabbed-slidebox .tsb-icons {
    text-align: center;
    position: relative;
    background-color: #fff;
    margin: 15px 0 0 0;
    border-bottom: 2px solid #ccc;
}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    /* For Safari 3.1 to 6.0 */
    -webkit-transform: translate3d(0, 0, 0);
}

.tabbed-slidebox .tsb-icons a {
    display: inline-block;
    width: 54px;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.3);
    -webkit-transform: translate3d(0, 8px, 0);
}

.tabbed-slidebox .tsb-icons a.active {
    color: rgba(0, 0, 0, 1);
    font-size: 3.5em;
    -webkit-transform: translate3d(0, 0, 0);
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tabbed-slidebox .tsb-icons:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #0398dc transparent;
    position: absolute;
    content: "";
    display: none;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}

.tsb-hscroll.scroll-view {
    white-space: nowrap;
    margin: 0 auto;
}

.tsb-hscroll.scroll-view .scroll-bar {
    visibility: hidden;
}

.tsb-hscroll.scroll-view .scroll.onscroll {
    -webkit-transition: -webkit-transform 0.3s;
    /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a {
    width: auto;
    font-size: 1.5em;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0 15px;
    border-bottom: 3px solid transparent;
}

.tabbed-slidebox .tsb-icons .scroll a.active {
    font-size: 1.8em;
    color: #009688;
    font-weight: 500;
    /*border-bottom: 3px solid #28a54c;*/
}
